{% extends 'layout.html'%}

{% block content %}
  {% if todos %}
    <table class="table mt-5">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Completed</th>
          <th scope="col">Date</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for todo in todos %}
          <tr>
            <th scope="row">{{ todo.id }}</th>
            <td>{{ todo.title }}</td>
            <td>{% if todo.completed %}Yes{% else %}No {% endif %}</td>
            <td>{{ todo.date }}</td>
            <td><a href="{% url 'todo:todo' todo.id %}" class="btn btn-primary text-light">View</a>
            <a href="{% url 'todo:updateform' todo.id %}" class="btn btn-secondary text-light">Edit</a>
            <a href="{% url 'todo:ConfirmDelete' todo.id %}" class="btn btn-danger text-light">Delete</a>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
  <div class="col-md-12">
    <h5 class="text-center text-wrap mt-3 mb-3">No Todo(s)</h5>
  </div>
  {% endif %}
  <a class="btn-block btn btn-primary text-light" href="{% url 'todo:create' %}">Create a new</a>
{% endblock %}
